{% extends "base.html" %}
{% block accounts %}
<div class="col-sm-2">
</div>
<div class="col-sm-9">
<div class="card">
	<div class="card-body">
	{% block content %}
	{% endblock content %}
	</div>
</div>
<div class="col-sm-2">
</div>

{% endblock accounts %}
