{% extends 'base.html'%}
{% load static %}

{% block page-title %}Contruye encuestas{% endblock page-title %}

{% block stylesheets%}
  <style>
    table, th, td {
      border: 1px solid black;
    }
  </style>
{% endblock stylesheets%}

{% block editor %}
    <br>
    <div class="panel panel-default panel-info" id="div_element_editor">
        <div class="panel-heading" id="element_editor_heading">
            <h3 class="panel-title">Escoja tipo de elemento para el formulario: </h3><br>
            <!-- form element type selector goes here... -->
        </div>
        <div class="panel-body" id="element_editor">
            <!-- form element type editor goes here... -->
        </div>
    </div>
{% endblock editor %}

{% block content %}
    <h3>Construya su encuesta aquí!! </h3>
    <div id="form_canvas">
        <!-- The survey gui content goes here -->
    </div>
    <hr>
    <button id="save_button">Obtener HTML</button>
    <a id="source_link" hidden>Ver Código.</a>
{% endblock content%}

{% block bottom-scripts %}
  <script src='../../static/scripts/element-classes.js'></script> <!-- 1. because of hoisting, load this first!!!! -->
  <script src='../../static/scripts/utilities.js'></script> <!-- 1. because of hoisting, load this first!!!! -->
  <script src='../../static/scripts/initialization-scripts.js'></script> <!-- 2. -->
  <script src='../../static/scripts/element-editor.js'></script>
  <script src='../../static/scripts/gen-input-text.js'></script>
  <script src='../../static/scripts/gen-selection.js'></script>
  <script src='../../static/scripts/gen-table.js'></script>
  <script src='../../static/scripts/gen-yes-no.js'></script>
  <script src='../../static/scripts/survey-flow.js'></script>
  <script src='../../static/scripts/common.js'></script>
  <script src='../../static/scripts/temp-test.js'></script>
  <!--script src='{% static 'js/jquery-3.3.1.min.js' %}'></script-->
{% endblock bottom-scripts %}
