{% extends 'pages/build_format.html'%}
{% load static %}

{% block page-title %}Formato Infraestructura 1 de 2{% endblock page-title %}

{% block stylesheets%}
  <style>
    table, th, td {
      border: 1px solid black;
    }
  </style>
  <link rel="stylesheet" href='../../static/scripts/equal-height-columns.css'></script>
{% endblock stylesheets%}

{% block format %}
    <form id="format_canvas" method="post" action="infraestructura_2">
        {% csrf_token %}
        <!-- The format content goes here -->
    </form>
    <hr>
    <button id="save_button">Obtener HTML</button>
    <a id="source_link" hidden>Ver Código.</a>
    <a id="road_map_link" hidden>Descargar Mapa</a>
{% endblock format %}

{% block bottom-scripts %}
<script src='../../static/scripts/fabric.min.js'></script>
<script src='../../static/scripts/jquery-3.3.1.min.js'></script>
<script src='../../static/scripts/gen-generic-format-header.js'></script> <!-- generate format headers -->
<script src='../../static/scripts/gen-formato-establecimientos-2.js'></script>
<script src='../../static/scripts/common.js'></script> <!-- generate html -->
{% endblock bottom-scripts %}
