<!DOCTYPE html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <!-- META INFO -->
        <meta charset="UTF-8">
        <meta name="description" content="SEPRO webapp.">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
        <meta name="author" content="SEPRO">


        <link rel="stylesheet" href="bootstrap.min.css">
        <style>
            /* Remove the navbar's default margin-bottom and rounded borders */
            .navbar {
              margin-bottom: 0;
              border-radius: 0;
            }
            /* Set gray background color and 100% height */
            .sidenav {
              padding-top: 20px;
              background-color: #f1f1f1;
              height: 100%;
            }
        </style>

        <title>SEPRO</title>
    </meta>
</head>
<body style="margin-bottom: 30px;" id="surveyform">
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header"> <!-- button that appears in mobile devices which groups items in the navbar -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar_contents">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand"><img style="max-width:110px; margin-top: -7px;margin-bottom: -7px" src="sepro_h.png"></a>
            </div>
        </div> <!-- /.containter -->
    </nav> <!-- /.navbar -->
    <br>
    <div class="container">
        <form action="/surveys/EncuestaCorta" method="post">{% csrf_token %}
            <div id="row_1" class="row">
              <div class="panel panel-default card col-sm-7">
                <div class="panel-body card-content">
                  <label for="1">1. ¿Cómo calificarí­a usted las actividades que acaba de realizar?</label>
                  <br>
                  <div class="row">
                      <div class="col-sm-6">
                          Cartografía Social
                      </div>
                      <div class="col-sm-6">
                          <input align="right" name="1.1" value="Bueno" type="radio">Bueno
                          <input align="right" name="1.1" value="Regular" type="radio">Regular
                          <input align="right" name="1.1" value="Malo" type="radio">Malo
                          <input align="right" name="1.1" value="Responde" type="radio">No Responde
                          <br>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-6">
                          Introductorio a la logística
                      </div>
                      <div class="col-sm-6">
                          <input align="right" name="1.2" value="Bueno" type="radio">Bueno
                          <input align="right" name="1.2" value="Regular" type="radio">Regular
                          <input align="right" name="1.2" value="Malo" type="radio">Malo
                          <input align="right" name="1.2" value="No Responde" type="radio">No Responde
                          <br>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-6">
                          Juego de escenarios logísticos<br>
                      </div>
                      <div class="col-sm-6">
                          <input align="right" name="1.3" value="Bueno" type="radio">Bueno
                          <input align="right" name="1.3" value="Regular" type="radio">Regular
                          <input align="right" name="1.3" value="Malo" type="radio">Malo
                          <input align="right" name="1.3" value="No Responde" type="radio">No Responde
                      </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="row_2" class="row">
              <div class="panel panel-default card col-sm-7">
                <div class="panel-body card-content">
                  <label for="2">2. Cuéntenos brevemente qué fue lo que más le gustó de todo el taller y también qué le cambiarí­a a las actividades.</label>
                  <br>
                  <div>
                    <textarea id="2" name="2" rows="3" cols="60"></textarea>
                  </div>
                </div>
              </div>
            </div>
            <div id="row_3" class="row">
              <div class="panel panel-default card col-sm-7">
                <div class="panel-body card-content">
                  <label for="3">3. Nos gustarí­a saber si es de su interés continuar con su formación académica después de que haya terminado el colegio, por ejemplo: si le interesa acceder a un programa académico en una universidad o si le llama la atención realizar una formación técnica, etc.</label>
                  <br>
                  <div>
                    <input name="3" value="Si" type="radio">Si
                    <input name="3" value="No" type="radio">No
                    <br>
                    <strong>¿POR QUÉ?</strong>
                    <br>
                    <textarea id="3" name="3.expl" rows="3" cols="60"></textarea>
                    <br>
                  </div>
                </div>
              </div>
            </div>
            <div id="row_4" class="row">
              <div class="panel panel-default card col-sm-7">
                <div class="panel-body card-content">
                  <label for="4">4. ¿Usted se autorreconoce con alguno de los siguientes grupos poblacionales?</label>
                  <br>
                  <div>
                    <input name="4" value="a. Campesino" type="radio">a. Campesino
                    <br>
                    <input name="4" value="b. Afrodescendiente" type="radio">b. Afrodescendiente
                    <br>
                    <input name="4" value="c. Indígena" type="radio">c. Indígena
                    <br>
                    <input name="4" value="d. No Responde" type="radio">d. No Responde
                    <br>
                  </div>
                </div>
              </div>
            </div>
            <div id="row_5" class="row">
              <div class="panel panel-default card col-sm-7">
                <div class="panel-body card-content">
                    <input type="submit" value="Enviar">
                </div>
              </div>
            </div>
        </form>
    </div>
    <script> <!-- Prevents that form will be submitted accidentally by hitting enter -->
    document.getElementById('surveyform').addEventListener('keypress', function(event) {
        if (event.keyCode == 13) {
            event.preventDefault();
        }
    });
    </script>
</body>
