{% extends 'base.html' %}

{% block content %}
<div>
{% if user.is_authenticated %}
	<h3>Bienvenido! {{ user.username }}.</h3>
{% else %}
	<h3>No has ingresado.</h3>
	<p>Debes ingresar con tu usuario y contraseña</p>
{% endif %}
</div>
{% endblock content%}
