{% extends fobi_theme.base_edit_template %}

{% load i18n %}

{% block page-title %}{% trans "Dashboard" %}{% endblock page-title %}

{% block navbar-menu-content %}
{% endblock navbar-menu-content %}

{% block navbar-menu-right-content %}
            <li class="active"><a href="{% url 'fobi.dashboard' %}">{% trans "Forms" %}</a></li>
            <li><a href="{% url 'fobi.form_wizards_dashboard' %}">{% trans "Wizards" %}</a></li>
{% endblock navbar-menu-right-content %}

{% block main-content-inner-attrs %}{% endblock main-content-inner-attrs %}

{% block content-wrapper %}
<div class="page-header">
  <h1>{% trans "Encuestas disponibles" %}</h1>
</div>

<div class="row">
  <div class="col-9 col-sm-9 col-lg-9">
    <!-- Forms -->
    <div class="panel panel-default">
      <div class="panel-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="col-sm-3">{% trans "Nombre" %}</th>
              <th class="col-sm-1">{% trans "Está activa?" %}</th>
              <th class="col-sm-3">{% trans "Acciones" %}</th>
            </tr>
          </thead>
          <tbody>
          {% for form_entry in form_entries %}
                {%if form_entry.is_public %}
                        <tr>
                        <td>{{ form_entry.name }}</a></td>
                        {% if form_entry.is_active %}
                        <td><span class="glyphicon glyphicon-ok"></span></td>
                        {% else %}
                        <td><span class="glyphicon glyphicon-remove"></span></td>
                        {% endif %}
                        <td>
                            <ul class="list-inline">
                            <li>
                                <a href="{% url 'fobi.view_form_entry' form_entry.slug %}">
                                <span class="glyphicon glyphicon-pencil"></span> Participar
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'fobi.delete_form_entry' form_entry.pk %}">
                                <span class="glyphicon glyphicon-edit"></span> Editar
                                </a>
                            </li>
                            </ul>
                        </td>
                        </tr>
                {% endif %}
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-3 col-sm-3 col-lg-3">
    <div>
      <h2>{% trans "Herramientas" %}</h2>
    </div>

    <div class="list-group">
      <a href="{% url 'fobi.create_form_entry' %}" class="list-group-item">
        <span class="glyphicon glyphicon-plus"></span> {% trans "Crear Encuesta" %}
      </a>
      <a href="{% url 'fobi.import_form_entry' %}" class="list-group-item">
        <span class="glyphicon glyphicon-import"></span> {% trans "Importar Encuesta" %}
      </a>
      {% for form_importer_uid,form_importer_name,form_importer_url in form_importers %}
        <a href="{{ form_importer_url }}" class="list-group-item">
          <span class="glyphicon glyphicon-import glyphicon-import-{{ form_importer_uid }}"></span> {{ form_importer_name }}
        </a>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content-wrapper %}

{% block sidebar-wrapper %}
{% endblock sidebar-wrapper %}
