{% load socialaccount %}
{% load i18n static %}
<!DOCTYPE html>
<html lang="en"{% block html-attributes %}{% endblock html-attributes %}>
<head>
    <!-- META INFO -->
    <meta charset="UTF-8">
    <meta name="description" content="SEPRO webapp.">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <meta name="author" content="Juan Camilo Flórez Vanegas">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <title>{% block page-title %}{% endblock page-title %} | {% block site-title %}SEPRO{% endblock site-title %}</title>

    <!-- Stylesheets -->
	  <!--link rel="stylesheet" href="{% static 'bootstrap-4.1.1/dist/css/bootstrap.min.css' %}"-->
  	<style>
    table, th, td {
      border: 1px solid black;
    }
  	</style>
    {% block stylesheets %}
    {#<!-- Additional core CSS files that somehow can't be put into the python theme -->#}
    {% endblock stylesheets %}

    {% block theme-stylesheets %}
        {#<!-- This is where stylesheets declared in the Python theme are listed -->#}
        {% for css in fobi_theme.get_media_css %}
        <link href="{{ css }}" rel="stylesheet" media="all" />
        {% endfor %}
    {% endblock theme-stylesheets %}

    {% block extra-stylesheets %}
    {% endblock extra-stylesheets %}

    <!-- JavaScript -->
	<!--script src="{% static 'bootstrap-4.1.1/dist/js/bootstrap.min.css' %}"></script-->
    {% block head-javascripts %}
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    {% endblock head-javascripts %}

    {% block extra-head-javascripts %}
    {% endblock extra-head-javascripts %}

    {% block extrahead %}
    {% endblock extrahead %}
</head>

<body{% block body-attrs %}{% if fobi_theme %} class="theme {{ fobi_theme.html_class }}"{% endif %}{% endblock body-attrs %}>
{% block main-wrapper %}
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header"> <!-- button that appears in mobile devices which groups items in the navbar -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href={% url 'home' %}><img style="max-width:110px; margin-top: -7px;margin-bottom: -7px" src="{% static 'images/sepro_h.png' %}"></a>
            </div>

            <div class="collapse navbar-collapse" id="main-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {% block navbar-menu-content %} <!-- widely overwrited by other templates -->
                    {% endblock navbar-menu-content %}

                    {% block navbar-menu-navigation-content %} <!-- There is no template that uses this block -->
                        {% comment %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                {% trans "Dashboards" %} <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'fobi.dashboard' %}">{% trans "Forms dashboard" %}</a></li>
                                <li><a href="{% url 'fobi.form_wizards_dashboard' %}">{% trans "Form wizards dashboard" %}</a></li>
                            </ul>
                        </li>
                        {% endcomment %}
                    {% endblock navbar-menu-navigation-content %}
                </ul>

                <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                        <li><a class="nav-link">{{ user.email }}</a></li>
                        {% block navbar-menu-right %} <!-- loaded by: dashboard -->
                            {% block navbar-menu-right-content %}
                            <li><a href="{% url 'fobi.dashboard' %}">{% trans "Forms" %}</a></li>
                            <li><a href="{% url 'fobi.form_wizards_dashboard' %}">{% trans "Wizards" %}</a></li>
                            {% endblock navbar-menu-right-content %}
                        {% endblock navbar-menu-right %}
                        <li><a href="{% url 'account_logout' %}">Salir</a></li>
                        <li><a href="{% url 'account_email' %}">Cambiar email</a></li>
                        <li><a href="{% url 'all_public_surveys'%}">Encuestas Publicadas</a><li>

                {% else %}
                        <li><a href="{% url 'account_login' %}">Ingresar</a></li>
                        <li><a href="{% url 'account_signup' %}">Registrarse</a></li>
                        <li><a href="{% url 'all_public_surveys'%}">Encuestas Publicadas</a><li>

                {% endif %}
                </ul>
            </div> <!-- /.nav-collapse -->
        </div> <!-- /.containter -->
    </div> <!-- /.navbar -->

    {% block main-content-wrapper %}
    <div class="container">
        {% block messages-wrapper %}
            {% include fobi_theme.messages_snippet_template_name %}
        {% endblock messages-wrapper %}

        {% block main-content %}
            <div class="row row-offcanvas row-offcanvas-right">

            <div{#% block main-content-inner-attrs %#} class="col-xs-12 col-sm-9"{#% endblock main-content-inner-attrs %#}>

                {% block content-wrapper %}
                <div class="row">
                    <div class="{% block content-class %}col-lg-12{% endblock content-class %}">
                    {% block content %} <!-- IMPORTANT!! used by allauth lib -->
                        <h2>Heading</h2>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                    {% endblock content %}
                    </div><!--/span-->
                </div><!--/row-->
                {% endblock content-wrapper %}

            </div><!--/span-->

            {% block sidebar-wrapper %}
            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
                {% block sidebar %}
                <div class="list-group">
                {% block sidebar-content %}
                <!--
                <a href="#" class="list-group-item active">Link</a>
                <a href="#" class="list-group-item">Link</a>
                <a href="#" class="list-group-item">Link</a>
                <a href="#" class="list-group-item">Link</a>
                <a href="#" class="list-group-item">Link</a>
                <a href="#" class="list-group-item">Link</a>
                <a href="#" class="list-group-item">Link</a>
                <a href="#" class="list-group-item">Link</a>
                <a href="#" class="list-group-item">Link</a>
                <a href="#" class="list-group-item">Link</a>
                -->
                {% endblock sidebar-content %}
                </div>
            {% endblock sidebar %}
            </div><!--/span-->
            {% endblock sidebar-wrapper %}
            </div><!--/row-->
        {% endblock main-content %}

        <hr>

        {% block footer-wrapper %}
            <footer>
            {% block footer %}
                <p>
                {% block footer-content %}
                    {#{ fobi_theme.footer_text|safe }#}
                {% endblock footer-content %}
                </p>
            {% endblock footer %}
            </footer>
        {% endblock footer-wrapper %}

    </div><!--/.container-->
    {% endblock main-content-wrapper %}
{% endblock main-wrapper %}

{% block javascripts %}
    {#<!-- Theme core JavaScript that somehow can't be put into the Python theme -->#}
    {#<!-- Placed at the end of the document so the pages load faster, although might be changed, if plugins need it to be otherwise -->#}
{% endblock javascripts %}

{% block theme-javascripts %}
    {#<!-- This is where javascripts declared in the Python theme are listed -->#}
    {% for js in fobi_theme.get_media_js %}
        <script src="{{ js }}"></script>
    {% endfor %}
{% endblock theme-javascripts %}

{% if messages %}
<div>
	<!-- strong>Messages: </strong -->
	<ul>
	{% for message in messages %}
	<!-- li>message</li -->
	{% endfor %}
	</ul>
</div>
{% endif%}
</body>
{% block bottom-scripts %}
{% endblock bottom-scripts %}

</html>
