{% load socialaccount %}
{% load i18n static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- META INFO -->
    <meta charset="UTF-8">
    <meta name="description" content="SEPRO webapp.">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <meta name="author" content="Juan Camilo Flórez Vanegas">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <title>SEPRO | {% block page-title %}{% endblock page-title %} </title>
    <!-- Stylesheets -->
    <!-- bootstrap4 - 3 :: draw a line that wraps each question -->
    <link rel="stylesheet" href="../../static/styles/bootstrap.min.css">
    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */
        .navbar {
          margin-bottom: 0;
          border-radius: 0;
        }
        /* Set gray background color and 100% height */
        .sidenav {
          padding-top: 20px;
          background-color: #f1f1f1;
          height: 100%;
        }

        /* Dropdown submenus */
        .dropdown-submenu {
            position: relative;
        }

        .dropdown-submenu .dropdown-menu {
            top: 0;
            left: 100%;
            margin-top: -1px;
        }
    </style>
    {% block stylesheets %}
    {% endblock stylesheets %}

    <script src="{% static 'scripts/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'scripts/bootstrap.min.js'%}"></script>
    {% block head-scripts %}
    {% endblock head-scripts %}
</head>

<body style="margin-bottom: 30px;" id="main-body">
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header"> <!-- button that appears in mobile devices which groups items in the navbar -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar_contents">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href={% url 'home' %}><img style="max-width:110px; margin-top: -7px;margin-bottom: -7px" src="{% static 'images/sepro_h.png' %}"></a>
            </div>

            <div class="collapse navbar-collapse" id="navbar_contents">
                <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                        <li><a class="nav-link">{{ user.email }}</a></li>
                        <li><a href="{% url 'build_form_gui' %}">Crear Encuesta</a></li>
                        <li><a href="{% url 'account_logout' %}">Salir</a></li>
                        <li><a href="{% url 'account_email' %}">Cambiar email</a></li>
                {% else %}
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Crear<span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            <li class="dropdown-header">Recomendado</li>
                            <li><a href="{% url 'build_form_gui' %}">Crear Encuesta</a></li>
                              <li class="dropdown-submenu">
                                 <a class="test" tabindex="-1" href="{% url 'build_format' %}">Crear Formato<span class="caret"></span></a>
                                 <ul class="dropdown-menu">
                                   <li><a href="{% url 'encuesta_corta' %}">Encuesta Corta</a></li>
                                   <li><a tabindex="-1" href="{% url 'infraestructura_1' %}">Infraestructura 1</a></li>
                                   <li><a tabindex="-1" href="{% url 'infraestructura_2' %}">Infraestructura 2</a></li>
                                   <li><a tabindex="-1" href="{% url 'operaciones' %}">Operaciones</a></li>
                                 </ul>
                               </li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">No Recomendado</li>
                            <li><a href="{% url 'fobi.dashboard' %}">{% trans "Forms" %}</a></li>
                            <li><a href="{% url 'fobi.form_wizards_dashboard' %}">{% trans "Wizards" %}</a></li>
                            <li><a href="{% url 'all_public_surveys'%}">Encuestas Publicadas</a><li>
                          </ul>
                        </li>
                        <li><a href="{% url 'account_login' %}">Ingresar</a></li>
                        <li><a href="{% url 'account_signup' %}">Registrarse</a></li>
                {% endif %}
                </ul>
            </div> <!-- /.nav-collapse -->
        </div> <!-- /.containter -->
    </nav> <!-- /.navbar -->

    <div class="container">
        <div class="row"> <!-- build_form_gui -->
            <div class="col-sm-4">
            {% block editor %} <!-- loaded by build_form_gui.html -->

            {% endblock editor %}
            </div>
            <div class="col-sm-8">
            {% block content %} <!-- IMPORTANT!! used by allauth lib and gui form builder -->

            {% endblock content %}
            </div>
        </div>

        <div class="row"> <!-- build_format -->
            {% block format %}
            {% endblock format %}
        </div>
    </div>
    {% block bottom-scripts %}
    {% endblock bottom-scripts %}
    <script>
        $(document).ready(function(){
          $('.dropdown-submenu a.test').on("click", function(e){
            $(this).next('ul').toggle();
            e.stopPropagation();
            e.preventDefault();
          });
        });
        <!-- Prevents that form will be submitted accidentally by hitting enter -->
        document.getElementById('main-body').addEventListener('keypress', function(event) {
            if (event.keyCode == 13) {
                event.preventDefault();
            }
        });
    </script>
</body>
</html>
